{% extends "auctions/layout.html" %}

{% block body %}

      <div class="h2">
        <h2>Active Listings</h2>
      </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for active in actives %}
              <div class="col">
                <div class="card shadow-sm divcard">

                  {% if active.imageUrl == "" or active.imageUrl == none %}
                    {% load static %} <a href="{% url 'listing' active.id %}"><img src="{% static "auctions/media/img.jpg" %}" class="card-img-top" alt="Image: {{ active.title }}" /></a>
                  {% else %}
                    <a href="{% url 'listing' active.id %}"><img src="{{ active.imageUrl }}" class="card-img-top" alt="Image: {{ active.title }}" /></a>
                  {% endif %}

                  <div class="card-body">
                    <h5 class="card-title">{{ active.title }}</h5>
                    <p class="card-text text-justify">{{ active.description|truncatechars:120 }}</p>
                    <div class="divright">
                      <small class="text-muted">{{ active.date_created }}</small>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'listing' active.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                      </div>
                      <div class="divright">

                        {% if active.current_price != None %}
                          <p class="card-text"><h5>Price: <span class="badge bg-success text-white">${{ active.current_price }}</span></h5></p>
                        {% else %}
                          <p class="card-text"><h5>Price: <span class="badge bg-success text-white">${{ active.starting_bid }}</span></h5></p>
                        {% endif %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}